body {
	background-color: darkblue;
	margin: auto;
    width: 60%;
    border:3px solid:white;
    padding: 10px;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2 {
    width: 632px;
    max-width: 632px;
}
p {
	text-align: center;
}
.background-white {
	background-color: white;
}
.center {
    border:10px solid: white;
    padding: 10px;
}