body {
	background-color: lightblue;
	margin: auto;
    width: 60%;
    border:3px solid #73AD21;
    padding: 10px;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2 {
    width: 632px;
    height: 100px;
    max-width: 632px;
}
p {
	text-align: center;
}
.background-white {
	background-color: white;
}
.center {
	width: 60%;
    border:3px solid #73AD21;
    padding: 10px;
}