body {
	background-color: #e5fffa;
	margin: auto;
    width: 60%;
    border:3px solid: #ffcccc;
    padding: 10px;
}
h1 {
    font-size: 3em;
}
.background-white {
	background-color: #ffcccc;
}
.center {
	text-align: center
    border:10px solid: white;
    padding: 10px;
}